.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('content/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}

.fill {
    min-height: 100%;
    height: 100%;
}
